<a href="https://colab.research.google.com/github/Jescobarmora/Python/blob/main/Trabajo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from scipy.stats import variation  
from google.colab import files
from google.colab import drive
import statistics as stats
import pandas as pd
import numpy as np
import io

In [ ]:
datos = files.upload()
BASE = pd.read_excel(io.BytesIO(datos['Recaudo_Vehicular_ANI.xlsx']))

Saving Recaudo_Vehicular_ANI.xlsx to Recaudo_Vehicular_ANI (10).xlsx

In [ ]:
BASE.head()

   IdPeaje     Peaje  Desde  ...  RecaudoFsv  RecaudoSobrante     Recaudo
0        1  ALVARADO  42237  ...    11852100            91500   430320000
1        1  ALVARADO  42248  ...    35914060           177600  1282064400
2        1  ALVARADO  42278  ...    39146380           208200  1392954400
3        1  ALVARADO  42309  ...    38277720           187700  1370377100
4        1  ALVARADO  42339  ...    45848660           161900  1584199700

[5 rows x 11 columns]

In [ ]:
print(BASE.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10128 entries, 0 to 10127
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IdPeaje          10128 non-null  int64
 1   Peaje            10128 non-null  object
 2   Desde            10128 non-null  int64
 3   Hasta            10128 non-null  int64
 4   Año              10128 non-null  int64
 5   Mes              10128 non-null  int64
 6   Días             10128 non-null  int64
 7   TarifaFsv        10128 non-null  int64
 8   RecaudoFsv       10128 non-null  int64
 9   RecaudoSobrante  10128 non-null  int64
 10  Recaudo          10128 non-null  int64
dtypes: int64(10), object(1)
memory usage: 870.5+ KB
None

In [ ]:
def pp ():

  Año = int(input("Ingrese el Año "))

  RecaudoDiario = BASE['Recaudo']/BASE['Días']
  BASE['RecaudoDiario'] = RecaudoDiario

  CV = lambda x: stats.stdev(x)/stats.mean(x)*100

  Año2014 = BASE[BASE['Año']==2014]
  Año2015 = BASE[BASE['Año']==2015]
  Año2016 = BASE[BASE['Año']==2016]
  Año2017 = BASE[BASE['Año']==2017]
  Año2018 = BASE[BASE['Año']==2018]
  Año2019 = BASE[BASE['Año']==2019]
  Año2020 = BASE[BASE['Año']==2020]
  Año2021 = BASE[BASE['Año']==2021]

  if Año==2014:
    pivot = pd.pivot_table(Año2014 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  elif Año==2015:
    pivot = pd.pivot_table(Año2015 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  elif Año==2016:
    pivot = pd.pivot_table(Año2016 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  elif Año==2017:
    pivot = pd.pivot_table(Año2017 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  elif Año==2018:
    pivot = pd.pivot_table(Año2018 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  elif Año==2019:
    pivot = pd.pivot_table(Año2019 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  elif Año==2020:
    pivot = pd.pivot_table(Año2020 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  elif Año==2021:
    pivot = pd.pivot_table(Año2021 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))
  else:
    print("Rectifique El Año")

  return pivot 

pp()

Ingrese el Año 2020

     <lambda_0>           max  ...           min         stdev
Mes                            ...
1     92.832548  4.639013e+08  ...  1.836532e+06  7.855290e+07
2     98.462876  3.606267e+08  ...  2.841500e+05  7.567352e+07
3    164.485920  2.860181e+08  ...  0.000000e+00  5.203576e+07
4    664.254513  1.291630e+07  ...  0.000000e+00  1.165592e+06
5    314.224603  2.051620e+07  ...  0.000000e+00  2.965078e+06
6     93.488216  2.437288e+08  ...  1.539400e+06  4.705282e+07
7     94.051216  2.580275e+08  ...  1.466203e+06  5.205250e+07
8     93.956410  2.583884e+08  ...  1.520258e+06  5.235370e+07
9     98.512454  3.497952e+08  ...  2.443193e+06  7.227503e+07
10    99.623115  3.923911e+08  ...  3.159719e+06  8.108869e+07
11   100.096460  3.826582e+08  ...  2.253333e+04  7.967279e+07
12    94.780835  3.962211e+08  ...  4.469887e+06  8.386687e+07

[12 rows x 6 columns]

In [ ]:
RecaudoDiario = BASE['Recaudo']/BASE['Días']
BASE['RecaudoDiario'] = RecaudoDiario


Año2014 = BASE[BASE['Año']==2014]
CV = lambda x: stats.stdev(x)/stats.mean(x)*100
pd.pivot_table(Año2014 ,values = 'RecaudoDiario', index = 'Mes', aggfunc = (min, max, stats.mean, stats.median, stats.stdev, CV))

     <lambda_0>           max  ...           min         stdev
Mes                            ...
1     79.439881  2.834055e+08  ...  1.625419e+06  5.462239e+07
2     80.680538  2.710880e+08  ...  1.172550e+06  5.101179e+07
3     83.174186  2.687151e+08  ...  1.203558e+06  5.284407e+07
4     82.524726  2.633606e+08  ...  1.469843e+06  5.633223e+07
5     83.108726  2.761425e+08  ...  1.299323e+06  5.384176e+07
6     83.797319  2.633751e+08  ...  1.638423e+06  5.646906e+07
7     81.913208  2.649382e+08  ...  1.183181e+06  5.564090e+07
8     83.998469  2.779667e+08  ...  1.471884e+06  5.655790e+07
9     82.572638  2.771884e+08  ...  1.288970e+06  5.392828e+07
10    83.713243  2.849552e+08  ...  1.483074e+06  5.700191e+07
11    85.642741  2.868119e+08  ...  1.537620e+06  6.006367e+07
12    87.146369  3.059798e+08  ...  1.094235e+06  6.186024e+07

[12 rows x 6 columns]

In [ ]:
a=[1, 2, 3, 4, 5]

Prom = stats.mean(a)
DE = stats.stdev(a)
CV = DE/Prom

variation(a)
CV

0.5270462766947299